body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #5433FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(bottom, #5433FF, #20BDFF, #A5FECB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #5433FF, #20BDFF, #A5FECB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

:root{
  --letrash1:#39A2DB;
  --letrash2:#A2DBFA;
}
.navbar {
position: fixed;
top: 0;
width: 100%;
background-color: white;
z-index: 1000;
display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.main-content {
  margin-top: 60px; /* Ajustar el margen superior para compensar la altura del navbar */
}

.logo img {
  max-width: 150px; /* Ajusta el tamaño del logo según tus necesidades */
  margin-right: 20px; /* Ajusta el margen derecho del logo según tus necesidades */
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  color: black;
  text-decoration: none;
  transition: color 0.3s; /* Animación al pasar el mouse */
  font-size: 25px;

}

.menu a:hover {
  color: gray; /* Color al pasar el mouse */
}

/*css de la imagen del header*/
.container {
  position: relative;
  text-align: center;
  color: white;
}

.image {
  filter: grayscale(30%) blur(2px);
  width: 100%; /* Ancho ocupando toda la página */
  height: 400px; /* Altura deseada */
  object-fit: cover; /* Ajuste para cubrir el contenedor manteniendo la relación de aspecto */
  object-position: center; /* Posición centrada verticalmente */
}
.text {
  position: absolute;
  top: 50%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Ajustar la posición para centrar completamente */
  text-align: center; /* Alinear el texto al centro */
  font-size: 30px;
  font-family: "Poppins", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-shadow: 2px 2px 2px black;
}

/*Diseño de la parte de nosotros en donde va todo el cointeiner de informacion*/

.container-nosotros{
  display: flex;
  gap: 50px;
  margin: 20px auto; /* Agrega un margen alrededor del contenedor y lo centra horizontalmente */
  padding: 20px; /* Añade un relleno para separar los elementos del borde */
}

.nosotros-img img{
  width: 555px;
  height: 664px;
  display: block;
  margin: 0 auto;
  border-radius: 3%;
  margin-left:350px;
}

.info-nosotros{
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.info-nosotros h1{
  font-family: 'Diphylleia', serif;
  font-size: 30px;
}

.info-nosotros p{
  font-size: 25px;
  text-align: justify;
  text-indent: 30px;
}
/*Diseño de la parte de nosotros en donde va todo el cointeiner de informacion de mision y vision*/

.container-vision{
  display: flex;
  gap: 50px;
  margin: 20px auto; /* Agrega un margen alrededor del contenedor y lo centra horizontalmente */
  padding: 20px; /* Añade un relleno para separar los elementos del borde */
}

.info-vision{
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.info-vision h1{
  font-family: 'Diphylleia', serif;
  font-size: 30px;
}
.info-vision p{
  font-size: 25px;
  text-align: justify;
  text-indent: 30px;
}

.vison-img img{
  width: 555px;
  height: 664px;
  display: block;
  margin: 0 auto;
  border-radius: 3%;
  margin-right:350px;
}

.equipo{
  text-align: center;
}
/*Carrusel*/
.container-carrusel{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carrusel{
  display: flex;
  width: 600px;
  height: 430px;
  overflow: hidden;
}

.carrusel img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}
.carrusel img:hover{
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
  cursor: crosshair;
}
     /*footer*/
/* Estilos para el footer */
.site-footer {
    background: linear-gradient(to top,#39A2DB,#A2DBFA);
    color: #fff;
    padding: 20px 20px;
  }
  
  /* Estilo para los widgets del footer */
  .footer-widgets {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .widget {
    flex: 0 0 30%;
    margin-bottom: 20px;
  }
  
  /* Estilo para los enlaces de redes sociales */
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
  }
  
  .social-icons li {
    margin-right: 10px;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 20px;
  }
  .social-icons img {
    width: 50px; /* Ancho deseado */
    height: 50px; /* Alto deseado */
  }
  .widget h3{
    font-size: 30px;
  }
  
  /* Estilos para el formulario de suscripción */
  .form-subscribe {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  /* Estilos para la información de derechos de autor */
  .site-info {
    text-align: center;
  }
  